extends layout 

block content 
    header
        a(href='/') < Back
        h1= title
        img.logo(src="../images/dominos.svg", alt="logo", href='/')

    if error 
        h2.error #{error}

    if user 
        h3 Current User: #{user.email}
    h2 Answer this question to become a member:
    form.secretphrase(action='' method='POST')
        p  What cocktail is best shaken, not stirred?
        input(type="text" name='answer' placeholder='Please input the answer')
        button(type='submit') Submit